<app-header></app-header>
<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Core</div>
        <a class="nav-link" href="#">
          <div class="sb-nav-link-icon">
            <i class="fas fa-tachometer-alt"></i>
          </div>
          Dashboard
        </a>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Logged in as:</div>
      Admin
    </div>
  </nav>
</div>
<div id="layoutSidenav_content">
  <main>
    <!-- About 1 - Bootstrap Brain Component -->
    <section class="py-3 py-md-5">
      <div class="container">
        <h1 class="text-center text-primary">Hey, Here is Your Information</h1>
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
          <div class="col-12 col-lg-6 col-xl-5">
            <img
              class="img-fluid rounded"
              loading="lazy"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_MXc_ZkNR04eU86N-9kvEUfxAznITrs1DeQ&s"
              alt="About 1"
              width="100%"
            />
          </div>
          <div class="col-12 col-lg-6 col-xl-7">
            <div class="row justify-content-xl-center">
              <div class="col-12 col-xl-11">
                <label for="" class="formGroup h5 text-success">Your User Name :</label>
                <input type="text" class="form-control shadow-sm" >
               
                <label for="" class="formGroup h5 text-success">Your Password :</label>
                <input type="text" class="form-control shadow-sm" >
                <label for="" class="formGroup h5 text-success">Your Full Name :</label>
                <input type="text" class="form-control shadow-sm" >
                <label for="" class="formGroup h5 text-success">Your Mobile :</label>
                <input type="text" class="form-control shadow-sm" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <app-footer></app-footer>
</div>
